---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardNoLink from "../components/HorizontalCardNoLink.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const s3_posts = (await getCollection("blog", ({ data }) => {
  return data.category == "Networking & Content Delivery";})).sort((a, b) => a.data.sortOrder - b.data.sortOrder);
const eb_posts = (await getCollection("blog", ({ data }) => {
  return data.category == "Elastic Beanstalk";})).sort((a, b) => a.data.sortOrder - b.data.sortOrder);
const dt_posts = (await getCollection("blog", ({ data }) => {
  return data.category == "Developer Tools";})).sort((a, b) => a.data.sortOrder - b.data.sortOrder);
const containers_posts = (await getCollection("blog", ({ data }) => {
  return data.category == "Containers";})).sort((a, b) => a.data.sortOrder - b.data.sortOrder);
---

<BaseLayout title="Nigel Aukland | AWS" sideBarActiveItemID="aws">
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold">Nigel Aukland : AWS Developer Associate</div>
    <div class="py-2">
      <text class="text-lg">
        I have put this page together to demonstrate the concepts that I've learned while studying for the 
        <a class="font-bold" href="https://aws.amazon.com/certification/certified-developer-associate/" target="_blank">
          AWS Developer Associate
        </a>
        certification. I hope you find it interesting and insightful! 
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Serving this static website from S3</div>
  </div>

  {
    s3_posts.map((post) => (
      <>
        <HorizontalCardNoLink
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
      </>
    ))
  }

<div>
  <div class="text-3xl w-full font-bold mb-2">Elastic Beanstalk for web app deployment</div>
</div>

{
  eb_posts.map((post) => (
    <>
      <HorizontalCard
        title={post.data.title}
        img={post.data.heroImage}
        desc={post.data.description}
        url={"/blog/" + createSlug(post.data.title, post.slug)}
        target="_self"
        badge={post.data.badge}
      />
    </>
  ))
}

<div>
    <div class="text-3xl w-full font-bold mb-2">Developer Tools for CICD</div>
</div>

{
    dt_posts.map((post) => (
      <>
        <HorizontalCardNoLink
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
      </>
    ))
  }

<div>
  <div class="text-3xl w-full font-bold mb-2">Containers</div>
</div>

{
  containers_posts.map((post) => (
    <>
      <HorizontalCard
        title={post.data.title}
        img={post.data.heroImage}
        desc={post.data.description}
        url={"/blog/" + createSlug(post.data.title, post.slug)}
        target="_self"
        badge={post.data.badge}
      />
    </>
  ))
}

</BaseLayout>
